.about-feature {
    .about-billboard {
        background-image: url('../../app/resources/location.jpg');
        background-size: cover;
        background-position: center;
        width: 98.9.5vw;
        height: 65vh;
    }
}

.about-content{
  position: relative;
    margin: 3em;
    h2{
      color: $chukis-green;
    }
    img{
      float: left;
      max-width: 40%;
      min-width: 400px;
      margin-right: 3em;
      margin-bottom: 1.75em;
      @media only screen and (min-width : 1350px) {
        margin-bottom: 3em;

      }
    }
}

.locations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    section {
        width: 620px;
        background-color: $light;
        text-align: center;
        border: 1px solid $light-shadow;
        margin: 1.5em;
        .capitol-hill-info, .south-lake-union-info{
          margin-top: 11%;
          float: left;
          text-align: center;
          width: 220px;
        h3 {
            color: $chukis-green;
            padding-top: 0.25em;
        }
        p {
            padding-right: 0.5em;
        }
      }
      #map-capitol-hill, #map-south-lake-union{
        float: right;
        display: inline-block;
      }
    }
}
