footer {
    clear: both;
    @include top-indent;
    background-image: url("../../app/resources/footer-backdrop.jpg");
    background-size: cover;
    background-position: top center;
    min-height: 18em;
    text-align: center;
    .footer-overlay {
      padding-left: 3em;
      padding-right: 3em;
      padding-bottom: 1em;
        text-align: center;
        overflow: auto;
        z-index: 2;
        background-color: rgba(0,147,65,.8);
        color: $light;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        section {
            margin-top: 3em;
            width: 30%;
            max-width: 30%;
            min-width: 15em;
            h2 {
                margin: 0;
            }
            li, p, ul {
                padding: 0;
                list-style-type: none;
                font-family: $font-body;
                font-size: 14pt;
            }
        }
        .social {
            li {
                display: inline;
                position: relative;
                margin-right: 0.2em;
                line-height: 38pt;
                a {
                    color: $light;
                    border: 2px solid $light;
                    width: 2em;
                    height: 2em;
                    line-height: 28pt;
                    text-align: center;
                    margin: 0 auto;
                    border-radius: 50%;
                    text-decoration: none;
                    transition: 0.3s;
                }
                a:hover {
                    background-color: $light;
                    color: $chukis-green;
                }
                a:active {
                    transition: 0s;
                    border: 2px solid $chukis-green;
                    color: $chukis-green-active;
                }
            }
        }
        .contact {
            div {
                margin-bottom: 2em;
                ul span {
                    font-size: 24pt;
                    vertical-align: sub;
                }
                .fa-map-marker {
                    font-size: 28pt;
                    vertical-align: text-bottom;
                }
                li {
                    display: inline-block;
                }
            }
        }
        .hours{
          margin-bottom: 2em;
        }
    }
    .copyright {
      font-family: $font-body;
      color: $light;
      height: 2em;
      background-color: rgba(0,147,65,.8);
      font-size: 9pt;
    }
}
@media screen and (max-width: 600px) {
    footer {
        background-position: -20em;
        background-repeat: no-repeat;
        .footer-overlay {
            justify-content: center;
            .contact,
            .hours,
            .social {
                width: calc(100% - 6em);
                div {
                    text-align: center;
                }
            }
        }
    }
}
