.menu-display {
    overflow: hidden;
    position: relative;
    text-align: center;
    .flip-left,
    .flip-right {
        opacity: 0.6;
        position: absolute;
        top: 24vh;
        height: 54px;
        width: 28px;
        cursor: pointer;
        z-index: 2;
        span {
            color: $chukis-green;
            position: relative;
            top: 35%;
            padding: 0.2em;
        }
    }
    .flip-left {
        background-image: url('../../app/resources/half-circle.png');
        left: 0;
    }
    .flip-right {
        background-image: url('../../app/resources/half-circle.png');
        right: 0;
        transform: scaleX(-1);
    }
    .flip-left:hover,
    .flip-right:hover {
        opacity: 0.75;
        span {
            color: $chukis-green;
        }
    }
    .slider {
        .slides {
            width: 800vw;
            height: 58.5vh;
            margin: 0;
            padding: 0;
            .slide {
                float: left;
                list-style-type: none;
                width: 100vw;
                background-size: cover;
                background-position: center;
                height: 58.5vh;
                position: relative;
            }
        }
        .featured-item {
            position: absolute;
            right: 2.5em;
            bottom: 1.5em;
            width: 300px;
            background-color: rgba(255,255,255,.8);
            padding: 1em;
            text-align: center;
            h1 {
                margin: 0 0 0.25em;
                color: $chukis-green;
            }
            p {
                margin: 0;
            }
            a {
                text-decoration: none;
                color: $chukis-green;
            }
        }
    }
}
.preview {
    margin-top: 3em;
    text-align: center;
    ul {
        color: $chukis-green;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 1em;
    }
    ul li {
        display: inline-block;
        width: 7.5em;
        cursor: pointer;
        img {
            clear: both;
            border: 1px solid $light-shadow;
        }
        div {
            display: inline;
            text-align: center;
        }
    }
    ul li:hover {
        img {
            opacity: 0.8;
        }
    }
}
@include article-divider;

.fillings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    section {
        width: 400px;
        height: 140px;
        background-color: $light;
        text-align: center;
        border: 1px solid $light-shadow;
        margin: 1.5em;
        h3 {
            color: $chukis-green;
            padding-top: 0.25em;
        }
        p {
            padding-right: 0.5em;
        }
        .adobada,
        .carne-asada,
        .frijoles,
        .nopal,
        .pollo-asado {
            float: left;
            max-width: 11.75em;
            width: 100%;
            padding-bottom: calc((11.75em) * .75);
            padding-right: 0.5em;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .carne-asada {
            background-image: url('../../app/resources/filling-carne-asada.jpg');
        }
        .adobada {
            background-image: url('../../app/resources/filling-adobada.jpg');
        }
        .pollo-asado {
            background-image: url('../../app/resources/filling-chicken.jpg');
        }
        .nopal {
            background-image: url('../../app/resources/filling-nopal.jpg');
        }
        .frijoles {
            background-image: url('../../app/resources/filling-frijoles.jpg');
        }
    }
}
.beverages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    section {
        width: 400px;
        height: 140px;
        background-color: $light;
        text-align: center;
        border: 1px solid $light-shadow;
        margin: 1.5em;
        h3 {
            color: $chukis-green;
            padding-top: 0.25em;
        }
        p {
            padding-right: 0.5em;
        }
        .aguas-fresca,
        .cerveza,
        .soda {
            float: left;
            max-width: 11.75em;
            width: 100%;
            padding-bottom: calc((11.75em) * .75);
            padding-right: 0.5em;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .aguas-fresca {
            background-image: url('../../app/resources/menu-aguas-frescas.jpg');
        }
        .cerveza {
            background-image: url('../../app/resources/menu-cervezas.jpg');
        }
        .soda {
            background-image: url('../../app/resources/menu-soda.jpg');
        }
    }
}
