#map-capitol-hill,
#map-south-lake-union {
    height: 267px;
    width: 400px;
    float: right;
    display: inline-block;
}
@media screen and (max-width : 768px) {
    #map-capitol-hill,
    #map-south-lake-union {
        width: 100%;
    }
}
