.tijuana {
  height: calc(100vh - (9em + 150px));
  margin: 3em auto;
  width: 65%;
  h2{
    font-size: 24pt;
    text-align: center;
    color: $chukis-green;
    margin: 2em;
    margin-bottom: 1.5em;
  }
    img {
        float: left;
        width: 20em;
        // margin-bottom: 100%;
    }
    .storyline{
        position: relative;
        top: 2.25vw;
        left: 3em;
        margin-right: 3em;
        h2 {
            color: $chukis-green;
        }
        p{
          margin: 0;
        }
    }
}
