.billboard {
    margin: 0;
    background-image: url("../../app/resources/billboard.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 3.95em);
    text-align: center;
    position: relative;
    img {
        width: 650px;
        position: relative;
        top: 16vh;
        opacity: 0.9;
        display: block;
        margin: 0 auto;
    }
    @import "./_blockquote.scss";
}
