.index-menu {
    padding: 3em;
    margin: 0 auto;
    width: 65%;
    max-width: 650px;
    text-align: center;
    h2 {
        font-size: 30pt;
        color: $chukis-green;
        margin: 0;
    }

    .menu-promo{
      height: 275px;
      width: 100%;
      background-size: cover;
      background-position: top;
    }

    h6, span {
        margin: 3em auto;
        width: 7em;
        height: 0.25em;
        background-color: $chukis-green;
    }
    p {
        margin: 1.5em 0 1.5em;
    }
    span{
      display: block;
      width: 2em;
      height: .1em;
      margin: 1.5em auto;
    }
    a{
      text-decoration: none;
      h3{
        text-align: center;
        display: inline-block;
        margin: 0;
      }
    }
}
@media screen and (max-width : 650px) {
  .index-menu{
    .menu-promo{
      background-size: contain;
      background-repeat: no-repeat;
      height: 32vw;
    }
  }
}
