.see-menu {
    background-image: url("../../app/resources/see-menu.jpg");
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 3.95em);
    margin: 0;
    clear: both;
    figcaption {
        color: $chukis-green;
    }
}
