footer {
    clear: both;
    @include top-indent;
    background-image: url("../../app/resources/footer-backdrop.jpg");
    background-size: cover;
    background-position: top center;
    min-height: 18em;
    text-align: center;
    @import "./_footer-overlay.scss";
    .copyright {
        font-family: $font-body;
        color: $light;
        height: 2em;
        background-color: rgba(0,147,65,.8);
        font-size: 9pt;
    }
}
@media screen and (max-width: 600px) {
    footer {
        background-position: -20em;
        background-repeat: no-repeat;
        .footer-overlay {
            justify-content: center;
            .contact,
            .hours,
            .social {
                width: calc(100% - 6em);
                div {
                    text-align: center;
                }
            }
        }
    }
}
