.flip-left,
.flip-right {
    opacity: 0.6;
    position: absolute;
    top: 24vh;
    height: 54px;
    width: 28px;
    cursor: pointer;
    z-index: 2;
    icon {
        color: $chukis-green;
        position: relative;
        top: 35%;
        padding: 0.2em;
    }
}
.flip-left {
    background-image: url('../../app/resources/half-circle.png');
    left: 0;
}
.flip-right {
    background-image: url('../../app/resources/half-circle.png');
    right: 0;
    transform: scaleX(-1);
}
.flip-left:hover,
.flip-right:hover {
    opacity: 0.75;
}
