@import "./_menu-slider-adjacents.scss";
.slider {
  height: 58.5vh;
    ul {
        padding: 0;
        margin: 0;
        .slide {
            list-style-type: none;
            width: 100vw;
            background-size: cover;
            background-position: center;
            height: 58.5vh;
            position: relative;
            @import "./_menu-slider-descriptions.scss";
        }
    }
}

@media screen and (max-width : 480px) {
  .slider{
    height: 30vh;
    ul{
      height: 30vh;
      .slide{
        height: 30vh;
      }
    }
  }
}
