.preview {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li {
        min-width: 146px;
        background-color: $light;
        text-align: center;
        border: 1px solid $light-shadow;
        margin: 1.5em 8px 1.5em 8px;
        cursor: pointer;
        div {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100px;
        }
        h4 {
            color: $chukis-green;
            margin: 1em;
        }
    }
    .preview-first{
      margin-left: 0;
    }
}

@media screen and (max-width : 1155px) {
  .preview{
    display: flex;
    width: calc(159px * 3);
    overflow-x: hidden;
    flex-flow: nowrap;
    margin-left: auto;
    margin-right: auto;
    li{
      max-width: 140px;
      margin-bottom: 0;
      display: inline-block;
    }
    .preview-first{
      margin-left: 660px;
    }
   }
}

@media screen and (max-width : 600px) {
.preview{
  width: auto;
  li{
    margin: 5px;
    min-width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $chukis-green;
    opacity: .5;
    div, h4{
      display: none;
    }
  }
  .preview-first{
    margin-left: 0;
  }
}
.dots{
  position: absolute;
  top: -100px;
}
}
