@import "./_menu-slider-adjacents.scss";
.slider {
    .slides {
        width: 800vw;
        margin: 0;
        padding: 0;
        .slide {
            float: left;
            list-style-type: none;
            width: 100vw;
            background-size: cover;
            background-position: center;
            height: 50vh;
            position: relative;
        }
    }
    @import "./_menu-slider-descriptions.scss";
}

@media screen and (max-width : 600px) {
.slider{
  .slides{
    .slide{
      background-position: top center;
      height: 80vh;
    }
  }
}
}
