@import "../components/menu/_menu-slider-adjacents.scss";
@import "../components/menu/_menu-slider.scss";
.slider{
  overflow: hidden;
  .slides{
    .slide{
    }
    margin: 0;
  }
}

@import "../components/index/_blockquote.scss";
blockquote {
    bottom: 1em;
}
.press-references {
    margin: 1.5em;
    ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        a {
            text-decoration: none;
            display: block;
            height: 100%;
            width: 100%;
        }
        li {
            width: 380px;
            background-color: $light;
            text-align: center;
            border: 1px solid $light-shadow;
            margin: 1.5em;
            min-height: 270px;
            .press-logo {
                display: inline-block;
                margin-top: 1.5em;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 100px;

                @media screen and (max-width : 600px) {
                  width: 180px;
                }

            }
            h4 {
                color: $chukis-green;
                width: 85%;
                display: inline-block;
            }
            p {
                margin-bottom: 1.5em;
                color: $dark;
            }
        }
    }
}

@import "./_press-mobile.scss";
