$chukis-green: rgba(28,147,65,1);
$chukis-green-hover: rgba(33,172,77,1);
$chukis-green-active: rgba(38,187,89,1);
$primary-hover: #aaa;
$primary-active: #bbb;
$secondary: #fff;

$light: white;
$light-shadow: #eee;
$background: #f2f3ef;
$dark: black;

$pistacio: #a4aba3;
$red: #c4394c;
$red2: #a22d47;
$yellow: #fed561;

$font-title: 'Exo 2', sans-serif;
$font-body: 'Lato', sans-serif;
